.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
  background-color: var(--primary-color);
}

.leftContainer {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.logo a {
  color: white;
  text-decoration: none;
  font-weight: 700;
  font-size: 1.5rem;
}

.mainLinks {
  display: flex;
  gap: 1rem;
}

.rightContainer {
  display: flex;
  gap: 1rem;
}

.navLink {
  color: white;
  text-decoration: none;
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  transition: all 0.2s ease;
  font-weight: 600;
  font-size: 1.125rem;
}

.navLink:hover {
  background-color: rgba(255, 255, 255, 0.25);
  transform: scale(1.05);
}

.userEmail {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}

.userEmail {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.15);
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  display: flex;
  align-items: center;
}

.logoutButton {
  padding: 0.6rem 1.2rem;
  border-radius: 8px;
  background-color: rgba(25, 87, 233, 0.8);
  color: white;
  font-weight: 600;
  font-size: 1.125rem;
  cursor: pointer;
  border: none;
  transition: all 0.2s ease;
}

.logoutButton:hover {
  background-color: rgba(25, 87, 233, 1);
  transform: scale(1.03);
}
