.terraform/
*.tfstate
*.tfstate.backup
*.tfvars
!*.tfvars.example
*.hcl
!*.hcl.example
!.terraform.lock.hcl
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
plan.txt
tfplan
